<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1 style="margin-left:10px"> Dashboard</h1>
    <hr>
    <h4 style="margin-left:10px">Welcome! {{ name }}</h4>
    <hr>
    <div style="margin-left:10px" class="links">
        <a class="btn btn-primary" href="/addDonor">Add Donor</a>
        <a class="btn btn-primary" style="margin-left:10px" href="/search">Search Donor</a>
        <a class="btn btn-primary" style="margin-left:10px; background-color: red;" href="/logout">Logout</a>
    </div>
</body>
</html>